@layout('layout')
@section('content')
	<div class="row no-gutters messaging-outer">
		<div id="messages" class="col-md-12">
			@each(message in messages)
				<div class="message {{message.userId===user.id?'right':'left'}}">
					{{message.message}}
				</div>
			@endeach
		</div>
		<div class="textBox col-md-12">
			<textarea class="form-control" id="message" placeholder="Mesaj yazın..."></textarea>
			<button class="btn btn-primary ml-1 icon icon-mail-send" id="send"></button>
		</div>
	</div>
@endsection

@section('scripts')
	<script src="../../public/general/js/socket.io.js"></script>
	<script src="../../public/js/chat.js"></script>
@endsection