<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Title</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="initial-scale=1,user-scalable=no,width=device-width"/>
		<link rel="stylesheet" href="/public/general/css/bootstrap.css"/>
		<link rel="stylesheet" href="/public/css/style.css"/>
		<link rel="stylesheet" href="/public/storage/fonts/material-icon/css/material-design-iconic-font.min.css?34">
		
	</head>
	<body>
		<div class="container">
			{{#user}}
				<div id="bg"></div>
				<div class="header">
					<img class="logo" src="/public/storage/images/logo.png">
					<div class="profile">
						<span class="icon icon-more-vert navigation"></span>
					</div>
					<div id="nav">
						<div class="nav-menu" disabled>{{fullname}}</div>
						<a href="/exit">
							<div class="nav-menu">Çıxış</div>
						</a>
					</div>
				</div>
			{{/user}}
