@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("../storage/fonts/montserrat/Montserrat-Light.ttf");
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("../storage/fonts/montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url("../storage/fonts/montserrat/Montserrat-Italic.ttf");
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("../storage/fonts/montserrat/Montserrat-Medium.ttf");
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url("../storage/fonts/montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("../storage/fonts/montserrat/Montserrat-Bold.ttf");
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url("../storage/fonts/montserrat/Montserrat-BoldItalic.ttf");
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url("../storage/fonts/montserrat/montserrat-v12-latin-900.ttf"), url("../storage/fonts/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"), url("../storage/fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"), url("../storage/fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"), url("../storage/fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype");
}

*::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none !important;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
}

input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
}

input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
}

input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

p {
    margin-bottom: 0;
    font-size: 15px;
    color: #777;
}

h2 {
    line-height: 1.66;
    padding: 0;
    font-weight: 900;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 40px;
}

.clear {
    clear: both;
}

body {
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: 'Montserrat','Nunito', sans-serif;
    background-image: url("../storage/images/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
}


.display-flex {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.display-flex-center {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.sign-content {
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
}

.form-group {
    overflow: hidden;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 13px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}
.form-input::-webkit-input-placeholder {
    color: #999;
}
.form-input::-moz-placeholder {
    color: #999;
}
.form-input:-ms-input-placeholder {
    color: #999;
}
.form-input:-moz-placeholder {
    color: #999;
}
.form-input::-webkit-input-placeholder {
    font-weight: 500;
}
.form-input::-moz-placeholder {
    font-weight: 500;
}
.form-input:-ms-input-placeholder {
    font-weight: 500;
}
.form-input:-moz-placeholder {
    font-weight: 500;
}
.form-input:focus {
    border: 1px solid transparent;
    -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
    -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
    -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
    border-image-source: linear-gradient(to right, #9face6, #74ebd5);
    border-image-slice: 1;
    -webkit-border-image-slice: 1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.form-input:focus::-webkit-input-placeholder {
    color: #222;
}
.form-input:focus::-moz-placeholder {
    color: #222;
}
.form-input:focus:-ms-input-placeholder {
    color: #222;
}
.form-input:focus:-moz-placeholder {
    color: #222;
}

.form-submit {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 13px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
    background-image: linear-gradient(to left, #74ebd5, #9face6);
}

input[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none;
}

input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 25px;
}

input[type=checkbox]:not(old) + label > span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 3px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: white;
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label > span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
}

input[type=checkbox]:not(old):checked + label > span:before {
    content: '\f26b';
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font', sans-serif;
    font-weight: bold;
}

.label-agree-term {
    font-size: 12px;
    font-weight: 600;
    color: #555;
}

.term-service {
    color: #555;
}

.loginhere {
    color: #555;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
}

.loginhere-link {
    font-weight: 700;
    color: #222;
}

.field-icon {
    float: right;
    margin-right: 17px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
    color: #555;
}

.toggle-password {
    cursor: pointer;
}

.textBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#messages {
    height: calc(100vh - 95px);
    overflow: auto;
    padding: 5px 0;
}



#message {
    width: calc(100% - 60px);
    resize: none;
    height: 40px;
    max-height: 125px;
    border-radius: 20px;
    padding: 11px 50px;
    border: none !important;
    font-size: 14px;
}

#send {
    width: 40px;
    height: 40px;
    border-radius: 35px;
    font-size: 20px;
}

.messaging-outer {
    background: url(/public/storage/images/chat_bg3.jpg);
    background-size: contain;
    padding-bottom: 5px;
}

.header {
    background: #ffffff;
    padding: 5px 10px;
    color: #333;
    box-shadow: 0 0 4px 0 #adadad;
    z-index: 999;
    height: 50px;
    position: sticky;
    top: 0;
}

.profile {
    float: right;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1001;
}

.logo {
    float: left;
    height: 40px;
}

html.disabled{
    overflow: hidden;
}

#bg,#bg.disabled {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #000000ad;
    transform: scale(0);
    /*transition: 220ms;*/

}

#bg.active{
    transform: scale(1);
    border-radius: 0;
}

#nav {
    position: absolute;
    z-index: 1001;
    background: white;
    top: 60px;
    right: 0;
    width: calc(300px - 5vw);
    box-shadow: 0px 1px 5px -2px #adadad;
    transform: scale(0);
    transition: 220ms;
}

#nav.active{
    transform: scale(1);
    animation:bubbleOn 1s;
    animation-iteration-count: 1;
}

#nav.disabled{
    transform: scale(0);
    animation:bubbleOff 1s;
    animation-iteration-count: 1;
}

@keyframes bubbleOn {
    0% {
        transform: scale( .75 );
    }
    20% {
        transform: scale( 1.15 );
    }
    40% {
        transform: scale( .85 );
    }
    60% {
        transform: scale( 1 );
    }
}

@keyframes bubbleOff {
    0% {
        transform: scale( 1.15 );
    }
    20% {
        transform: scale( 0.85 );
    }
    40% {
        transform: scale( 1 );
    }
    60% {
        transform: scale( 0 );
    }

}

@media (max-width: 576px){
    #nav{
        width: 100%;
    }
    .container{
        padding: 0 !important;
    }
}

#nav::before {
    content: '';
    height: 0;
    display: inline-block;
    border: 7px solid #ffffff00;
    border-bottom: 12px solid white;
    position: absolute;
    top: -17px;
    right: 23px;
}

.nav-menu {
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    transition: 220ms;
}

.nav-menu:not([disabled]):hover {
    background: #f1f1f1;
}
.navigation {
    font-size: 20px !important;
    cursor: pointer;
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    transition: 220ms;
}

.navigation:hover {
    background: #ebebeb;
}

.message {
    width: fit-content;
    padding: 4px 15px;
    border-radius: 7.5px;
    position: relative;
    clear: both;
    margin: 1px 10px;
    box-shadow: 0 1px 0.5px #00000021;
    padding-right: 60px;
}

.message.left{
    background: #ffffff;
    float: left;
}

.message.right{
    background: #dcf8c6;
    float: right;
}

.message.left[arrowed]{
    border-top-left-radius: 0;
}
.message.right[arrowed]{
    border-top-right-radius: 0;
}

.message.left[arrowed]::before, .message.right[arrowed]::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -4px;
    border: 10px solid transparent;
    border-bottom-width: 6px;
    border-top-width: 4px;
}

.message.left[arrowed]::before {
    left: -16px;
    border-right-color: #ffffff;
    transform: rotate(22deg);
}

.message.right[arrowed]::before{
    right: -16px;
    border-left-color: #dcf8c6;
    transform: rotate(-22deg);
}

.inboxes a{
    color: #333;
    transition: 220ms;
}

.inboxes a:hover{
    color:#000;
}

.inbox-menu {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 220ms;
}

.inbox-menu:hover{
    background: #ebebeb;
}


.inbox-pic {
    margin-right: 10px;
}

.inbox-pic img{
    width:60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
}

.chatProfile {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatProfile .pic {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 15px;
}

.name {
    position: relative;
    top: 5px;
}

.status {
    color: #979797;
    font-size: 10px;
}

.message,#message,.status{
    font-family: 'Nunito', sans-serif !important;
}

.inbox-name {
    font-weight: bold;
}

.inbox-message {
    color: #3a3a3a;
}

.inbox-message i {
    vertical-align: text-bottom;
    font-size: 16px;
}

.inbox-message i.read {
    color: #00a5ff;
}

.inbox-message i.flip {
    transition: 500ms;
    animation: flip 0.3s linear;
}

.message-info {
    position: absolute;
    right: 5px;
    bottom: 0;
    height: 22px;
}

.date {
    font-size: 10px;
    color: #848484;
    display: inline-block;
}

.read-status {
    font: normal normal normal 15px/1 'Material-Design-Iconic-Font';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: -1px;
    color: #8a8a8a;
}

.read-status[inf=sending][anime]{
    animation: 500ms flip;
}
.read-status[inf=sent][anime]{
    animation: 500ms flip;
}
.read-status[inf=delivered][anime]{
    animation: 500ms flip;
}
.read-status[inf=read][anime]{
    animation: 500ms flip;
}


.read-status[inf=sending]::before{
    content: '\f337';
    font-size: 13px;
}
.read-status[inf=sent]::before{
    content: '\f26b';
}
.read-status[inf=delivered]::before{
    content: '\f267';
}
.read-status[inf=read]::before{
    content: '\f267';
    color:rgb(79, 195, 247);
}



@keyframes flip {
    0% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}