@layout('layout')
@section('content')
<div class="row no-gutters">
	<div class="col-md-12">
		<div class="bg-white">
			<h3 class="title">Users</h3>
			<div class="inboxes">
				@each(chat in chats)
				<a href="/chat/{{chat.id}}">
					<div class="inbox-menu">
						<div class="inbox-pic">
							<img src="{{chat.chatUsersPhoto}}" alt="">
						</div>
						<div class="inbox-body">
							<div class="inbox-name">{{chat.chatUsersFullName}}</div>
							<div class="inbox-message">
								@if(chat.chatUsersId==user.id)
									<i class="material-icons">done_all</i>
								@endif
								{{chat.message}}
							</div>
						</div>
					</div>
				</a>
				@endeach
			</div>
		</div>
	</div>
</div>
@endsection
