{{> header}}
<div class="row no-gutters">
	<div class="col-md-12">
		<div class="bg-white px-2">
			<h3 class="title">Users</h3>
			{{#users}}
				<a href="/chat/{{id}}"><div class="menu">{{fullname}}</div></a>
			{{/users}}
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
			aaaaaaaaaaaaaaa <br>
		</div>
	</div>
</div>


{{> footer}}
