{{> layout}}
<div class="main">
	
	<section class="signup">
		<div class="container">
			<div class="row">
				<div class="sign-content col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7 m-auto px-xs-2 py-5 px-5 ">
					{{#error}}
					<div class="alert alert-danger" role="alert">{{.}}</div>
					{{/error}}
					<form action="/login" method="POST" id="sign-form" class="sign-form">
						<h2 class="form-title">Log In</h2>
						<div class="form-group">
							<input type="text" class="form-input" name="userName" id="userName" placeholder="Username"/>
						</div>
						<div class="form-group">
							<input type="password" class="form-input" name="password" id="password" placeholder="Password"/>
							<span toggle="#password" class="zmdi zmdi-eye-off field-icon toggle-password"></span>
						</div>
						<div class="form-group">
							<input type="submit" name="submit" id="submit" class="form-submit" value="Sign In"/>
						</div>
					</form>
					<p class="loginhere">
						Don't Have an account ? <a href="/register" class="loginhere-link">Register here</a>
					</p>
				</div>
			</div>
		</div>
	</section>

</div>

